<!DOCTYPE html>
{% extends 'logedbase.html' %}
{% block title %}教练预约{% endblock %}
{% block content2 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教练时间安排</title>
</head>
<body>
<a href="/book/trainerpublish/">发布新时间</a>
<a href="/book/trainerpublished/">已发布时间</a>
<br>
<br>

<table border="2" align="center" width=80%>
    <caption>预约表</caption>
    <br>
    <thead>
    <tr>
        <th>课程</th>
        <th>日期</th>
        <th>时段</th>
        <th>预约人数</th>
        <th>价格</th>
        <th>预计收入</th>
        <th>操作</th>
    </tr>
    </thead>

    {% for item in allpublish%}
    <form method="POST" action="mks/">
        {% csrf_token %}
    <div>
    <tr>
        <td><!--课程-->
            <input type="text" name="coursename" value="{{ item.coursename }}" readonly="true">
        </td>
        <td><!--日期-->
            <input type="text" name="bookdate" value="{{ item.bookdate }}" readonly="true">
        </td>
        <td><!--时段-->
            <input type="text" name="booktime" value="{{ item.booktime }}" readonly="true">
        </td>
        <td><!--预约人数 待更改-->
            <input type="text" name="bookednumber" value="{{ item.customernumber }}" readonly="true">
        </td>
        <td><!--课程价格 待更改-->50</td>
        <td><!--预计收入 待更改-->100</td>
        <td><!--操作-->
            <input type="submit" name="delete" value="删除"></td>
    </tr>
    </div>
    </form>
    {% endfor %}

</table>
</body>
</html>
{% endblock %}