<!DOCTYPE html>
{% extends 'logedbase.html' %}
{% block title %}教练预约{% endblock %}
{% block content2 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教练时间安排</title>
</head>
<body>
<br>
{{ trainername }},
<br>

<a href="/book/trainerpublish/">发布新时间</a>
<a href="/book/trainerpublished/">未执行发布</a>
<a href="/book/trainerpublishedall/">全部发布</a>
<br>
<form id="newpublish" action="" method="POST" >{% csrf_token %}
日期<input type="text" name="date" value="{{nowdate}}" size="20">
<br>
课程<select name="coursename">
        {% for item in allcourse %}
            <option value="{{ item.coursename }}" >{{ item.coursename }}
        {% endfor %}
    </select>
<br>
最大人数<input type="number" name="maxnumber" value="5" size="15">
<br>
<p>
    <label for="time">时段</label>
    <input type="radio" name="time" value="09:00-11:00" checked>09:00-11:00
    <input type="radio" name="time" value="15:00-17:00">15:00-17:00
    <input type="radio" name="time" value="19:00-21:00">19:00-21:00
</p>
<br>
<br>
<input type="submit" value="确认发布">
</form>
</body>
</html>
{% endblock %}