<!DOCTYPE html>
{% extends 'logedbase.html' %}
{% block title %}教练预约{% endblock %}
{% block content2 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教练时间安排</title>
</head>
<body>
<br>
<a href="/book/trainerpublish/">发布新时间</a>
<a href="/book/trainerpublished/">未执行发布</a>
<a href="/book/trainerpublishedall/">全部发布</a>
<br>
<br>
<!--{{ temp }}<br>-->
<!--姑苏城边，云深之间，钟灵毓秀初长成蓝家少年<br>-->
<!--闭花羞月，沉鱼落雁，路过沿街大姑娘看直了眼<br>-->
<table border="2" align="center" width=80%>
    <caption>预约表</caption>
    <br>
    <thead>
    <tr>
        <th>课程</th>
        <th>日期</th>
        <th>时段</th>
        <th>预约人数</th>
        <th>最大人数</th>
        <th>价格</th>
        <!--<th>预计收入</th>-->
        <!--<th>操作</th>-->
    </tr>
    </thead>

    <!--对应每一条记录建立一个新form-->
    {% for item in allpublish%}
    <form method="POST" action="mks/">
        {% csrf_token %}
    <div>
        <input type="text" name="timeid" value="{{ item.timeid }}" hidden="hidden">
    <tr>
        <td><!--课程-->
            <input type="text" name="coursename" value="{{ item.coursename }}" readonly="true">
        </td>
        <td><!--日期-->
            <input type="text" name="bookdate" value="{{ item.bookdate }}" readonly="true">
        </td>
        <td><!--时段-->
            <input type="text" name="booktime" value="{{ item.booktime }}" readonly="true">
        </td>
        <td><!--预约人数 待更改-->
            <input type="text" name="bookednumber" value="{{ item.nownumber }}" readonly="true">
        </td>
        <td><!--最大人数 待更改-->
            <input type="text" name="maxnumber" value="{{ item.customernumber }}" readonly="true">
        </td>
        <td><!--课程价格 待更改-->80</td>
        <!--<td>&lt;!&ndash;预计收入 待更改&ndash;&gt;100</td>-->
        <!--<td>&lt;!&ndash;操作&ndash;&gt;-->
            <!--<input type="submit" name="delete" value="删除"></td>-->
    </tr>
    </div>
    </form>
    {% endfor %}

</table>
</body>
</html>
{% endblock %}