<!DOCTYPE html>
{% extends 'logedbase.html' %}
{% block title %}教练预约{% endblock %}
{% block content2 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教练时间安排</title>
</head>
<body>
<a href="/book/trainerpublish/">发布新时间</a>
<a href="/book/trainerpublished/">已发布时间</a>
<br>
<br>
日期<input type="text" name="date" value="20190610" size="20">
<br>
课程<select name="coursename">
        <option value="all" selected>all
        {% for item in allcourse %}
            <option value="{{ item.coursename }}" >{{ item.coursename }}
        {% endfor %}
    </select>
<br>
最大人数<input type="text" name="maxnumber" value="5" size="15">
<br>
<p>
    <label for="time">时段</label>
    <input type="radio" name="time" value="morning" checked>9:00-11:00
    <input type="radio" name="time" value="afternoon">15:00-17:00
    <input type="radio" name="time" value="evening">19:00-21:00
</p>
<br>
<br>
<input type="submit" value="确认发布">

</body>
</html>
{% endblock %}